/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation styles */

nav {
  background: #023e8a;
  height: 80px;
  width: 100%;
}

label.logo {
  color: #f1faee;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: #f1faee;
  font-size: 18px;
  padding: 7px 13px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
}

a.active,
a:hover {
  border: 1px solid #f1faee;
  transition: 0.5s;
}

nav #icon {
  color: #f1faee;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Navigation @media */

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a{
      font-size: 17px;
  }
}
